<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/default">
<head>
<title>Dictionaries</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Dictionaries</h1>
    
    <ul>
      <li th:each="dictionary : ${dictionaries}">
        <span th:text="${dictionary.name}">Sample name</span>
      </li>
    </ul>
    
    <h2>Create</h2>
    <form action="#" th:action="@{/dictionaries}" th:object="${dictionary}" method="post">
      <table>
        <tr>
          <td>Name:</td>
          <td><input type="text" th:field="*{name}" /></td>
          <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error message</td>
        </tr>
        <tr>
          <td>Description:</td>
          <td><input type="text" th:field="*{description}" /></td>
          <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description
            error message</td>
        </tr>
        <tr>
          <td><button type="submit">Submit dictionary</button></td>
        </tr>
      </table>
    </form>
  </div>
</body>
</html>